<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfQbTahTU27IC6xA5agGIAKCztN18QyB0</string>
	<key>GCM_SENDER_ID</key>
	<string>81190285849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirillpukhov2004.Palmy-iOS</string>
	<key>PROJECT_ID</key>
	<string>palmy-1a3fd</string>
	<key>STORAGE_BUCKET</key>
	<string>palmy-1a3fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81190285849:ios:3dcaec9d060e0016a4b088</string>
</dict>
</plist>